@import "./main.css";

section {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
}

.image-div {
    height: 70vh;
    position: relative;
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image-div div {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #ffffff;
}

.image-div div h3 {
    font-size: 30px;
}

.image-div div p {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.euro-icon {
    color: var(--color-accent);
    height: 35px;
    width: 35px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price span {
    font-size: 20px;
    font-weight: 500;
}

.section-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section-body .owner-div {
    position: sticky;
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 30px;
    margin-top: 50px;
    top: 0;
}

.section-body .owner-div span {
    font-weight: 400;
    line-height: 50px;
}

.section-body .owner-div .profile {
    width: 100px;
    height: 100px;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    color: var(--color-bg);
    font-weight: 600;
    margin-bottom: 10px;
}

.specs, .about-div, .property-div, .features-div {
    background-color: var(--color-bg);
    padding: 20px 40px;
    width: 90%;
    border-radius: 20px;
    margin-top: 50px;
}

.section-body .owner-div h3 {
    font-size: 25px;
}

.specs-cards-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 0;
}

.specs-cards-div div {
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #ffffff;
}

.about-div h3 {
    line-height: 50px;
}

.about-div p {
    font-weight: 300;
    line-height: 25px;
}

.property-div div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.property-div h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.property-div p {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px var(--color-mid);
}

.property-div p span:last-child{
    font-weight: 600;
}

.features-div ul {
    margin-top: 5px;
}

.features-div ul li {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.features-div ul li::marker {
    color: var(--color-accent);
    font-size: 20px;
}   

.owner-contact-div {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.owner-div span {
    font-size: 17px;
}

.owner-contact-div svg {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.owner-contact-div a {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    margin-bottom: 20px;
}


@media screen and (max-width: 1280px) {
    .section-body {
        display: grid;
        grid-template-columns: 1fr;
    }

    .owner-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .owner-contact-div {
        width: 80%;
    }

}

@media screen and (max-width: 1024px) {
    .image-div {
        height: 55vh;
        position: relative;
    }

    .location-icon {
        width: 30px;
        height: 30px;
    }

    .section-body {
        display: grid;
        grid-template-columns: 3fr;
    }

    .specs-cards-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .specs-cards-div div {
        height: 120px;
        width: 100%;
    }

    .specs, .about-div, .property-div, .features-div {
        margin-top: 20px;
    }
}

@media screen and (max-width: 720px) {
    .image-div div {
        bottom: 20px;
        left: 30px;
    }

    .image-div div h3 {
        font-size: 27px;
    }

    .image-div div p {
        font-size: 16px;
    }

     .specs-cards-div {
        grid-template-columns: 1fr;
    }   

    .property-div div {
        grid-template-columns: 1fr;
    }

    .specs, .about-div, .property-div, .features-div {
        padding: 20px;
    }

    .specs-cards-div div {
        height: 110px;
    }

    .owner-contact-div {
        margin-top: 20px;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
    }

    .owner-div span {
        font-size: 15px;
    }

    .owner-contact-div svg {
        height: 25px;
        width: 25px;
        margin-left: 20px;
    }

    .owner-contact-div p {
        font-size: 16px;
    }

}

@media screen and (max-width: 492px) {

    section {
        width: 96%;
        margin: auto;
    }

    .specs, .about-div, .property-div, .features-div {
        width: 90%;
    }    

    .owner-contact-div {
        width: 95%;
    }
}